<ion-header>
  <ion-navbar>
    <ion-title>Bienvenido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienbenido a la aplicación de rubén perez ibañez</h2>
  <p>
    Espero que  le guste la aplicación
  </p>
  <!--Ejemplo modificación de estilos con SASS-->
  <p class="notification notification-confirm">Nombre : Rubén</p>
  <p class="notification notification-warning">Primer Apellido: Pérez</p>
  <p class="notification notification-alert">Segundo Apellido: Ibañez</p>
</ion-content>
